body {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
div.container {
  overflow: hidden!important;
  height: 100%;
  width: 100%;
}
p.formula {
	background-color: #e9e9e9;
	color: #000000;
	padding: 5px 10px;
}
div.expandable {
	text-decoration: none;
  display: block;
  padding: 3px 12px 3px 8px;
  background-color: #666;
  color: #fff;
  border: 1px solid #ddd;
}
div.expandable:active{
	padding: 2px 13px 4px 7px;
  background-color: #444;
  color: #eee;
  border: 1px solid #333;
}